<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sword.mapper.SectionMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		sid, sname, smasterid, sstatement, sclickcount, stopiccount,sshortsm,sparentname
	</sql>
	<select id="selectAll" resultType="com.sword.model.Section">
		SELECT * from section;
	</select>
	<select id="getParentName" resultType="java.lang.String">
		SELECT DISTINCT sparentname FROM section;
	</select>
	<select id="selectAllTopicSum" resultType="java.lang.Long">
		SELECT SUM(stopiccount) FROM section;
	</select>
	<select id="selectMaxClickSid" resultType="java.lang.Long">
		SELECT sid  FROM section WHERE sclickcount=(SELECT MAX(sclickcount)FROM section) ;
	</select>
</mapper>